@import 'prismjs/themes/prism-tomorrow.css'

$font: 'Nanum Gothic Coding', monospace

body
  font-family: $font

h2, h4
  font-weight: normal

code[class*="language-"], pre[class*="language-"]
  line-height: 1
  border-radius: 3px
  font-size: 15px
  text-shadow: none
  background: #f9f9f9
  color: #555

.grid
  display: grid
  grid-template-columns: auto auto auto
  grid-template-rows: 100vh
  grid-gap: 10px