@import 'prismjs/themes/prism-tomorrow.css'

$font: 'Nanum Gothic Coding', monospace

body
  font-family: $font
  color: #555
  margin: 0

h2, h4
  font-weight: normal

.grid
  display: flex
  justify-content: space-around

  .col
    width: calc((100% / 3) - 20px)

.wrapper
  overflow: auto
  max-height: calc(100vh - 111.84px)

  &::-webkit-scrollbar
    width: 4px
 
  &::-webkit-scrollbar-thumb
    background-color: #555

.query, .code
  cursor: pointer
  
  h4
    background: #f9f9f9
    margin: 0
    padding: 6px
    font-size: 1em
    border-left: 4px solid #555

  code[class*="language-"], pre[class*="language-"]
    line-height: 1
    font-size: 15px
    text-shadow: none
    background: #f9f9f9
    color: #555
    margin: 0
    margin-bottom: 12px