doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mongo Queries
    link(rel="stylesheet", href="app.sass")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700")
  body
    .grid
      .queries
        h2 Queries
        
        .query
          h4 Insert one
          pre
            code.language-js
              | db.books.insertOne({
              |   title: 'One Indian Girl',
              |   author: 'Chetan Bhagat',
              |   price: 176,
              |   available: true,
              |   created: ISODate()
              | })
              
      .collection
        h2 Collection
      .result
        h2 Result
    
    script(src="app.js")