doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mongo Queries
    link(rel="stylesheet", href="app.sass")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700")
  body
    .grid
      .queries.col
        h2 Queries
        p Just click on query code block to execute
        
        .wrapper
          .query(data-query="insertOne")
            h4 Insert one
            pre
              code.language-js
                | const book = {
                |   title: 'One Indian Girl',
                |   author: 'Chetan Bhagat',
                |   price: 176,
                |   available: true,
                |   created: new Date()
                | }
                |
                | db.collection('books').insertOne(book)

          .query(data-query="insertMany")
            h4 Insert many
            pre
              code.language-js
                | const books = [
                |   {
                |     title: 'Sita - Warrior of Mithila',
                |     author: 'Amish',
                |     price: 350,
                |     available: true,
                |     created: new Date()
                |   },
                |   {
                |     title: 'The Girl in Room 105',
                |     author: 'Chetan Bhagat',
                |     price: 199,
                |     available: false,
                |     created: new Date()
                |   }
                | ]
                |
                | db.collection('books').insertMany(books)

          .query(data-query="insert")
            h4 Insert
            pre
              code.language-js
                | const book = {
                |   title: 'One Indian Girl',
                |   author: 'Chetan Bhagat',
                |   price: 176,
                |   available: true,
                |   created: new Date()
                | }
                |
                | const books = [
                |   {
                |     title: 'Sita - Warrior of Mithila',
                |     author: 'Amish',
                |     price: 350,
                |     available: true,
                |     created: new Date()
                |   },
                |   {
                |     title: 'The Girl in Room 105',
                |     author: 'Chetan Bhagat',
                |     price: 199,
                |     available: false,
                |     created: new Date()
                |   }
                | ]
                |
                | db.collection('books').insert(book)
                | db.collection('books').insert(books)

          .query(data-query="updateOne")
            h4 Update one
            pre
              code.language-js
                | const filter = { price: 176 }
                | const update = { $set: { price: 150 } }
                |
                | db.collection('books').updateOne(filter, update)

          .query(data-query="updateMany")
            h4 Update many
            pre
              code.language-js
                | const filter = { price: 350 }
                | const update = { $set: { price: 340 } }
                |
                | db.collection('books').updateMany(filter, update)
              
      .collection.col
        h2 Collection
        p
          | The 
          strong books 
          | collection disply here
        .wrapper
          .code
            pre
              code#collection.language-js

      .result.col
        h2 Result
        p Query results disply here
        .wrapper
          .code
            pre
              code#result.language-js
    
    script(src="app.js")