doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mongo Queries
    link(rel="stylesheet", href="app.sass")
  body
    .grid
      .queries
        h1 Queries
      .collection
        h1 Collection
      .result
        h1 Result