doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Mongo Queries
    link(rel="stylesheet", href="app.sass")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700")
  body
    .grid
      .queries.col
        h2 Queries
        p Just click on query code block to execute
        
        .wrapper
          .query(data-query="insertOne")
            h4 Insert one
            pre
              code.language-js
                | const book = {
                |   title: 'One Indian Girl',
                |   author: 'Chetan Bhagat',
                |   price: 176,
                |   available: true,
                |   created: ISODate()
                | }
                |
                | db.books.insertOne(book)

          .query(data-query="insertMany")
            h4 Insert many
            pre
              code.language-js
                | const books = [
                |   {
                |     title: 'Sita - Warrior of Mithila',
                |     author: 'Amish',
                |     price: 350,
                |     available: true,
                |     created: ISODate()
                |   },
                |   {
                |     title: 'The Girl in Room 105',
                |     author: 'Chetan Bhagat',
                |     price: 199,
                |     available: false,
                |     created: ISODate()
                |   }
                | ]
                |
                | db.books.insertMany(books)
              
      .collection.col
        h2 Collection
        p The collection disply here
        .wrapper
          .code
            pre
              code#collection.language-js

      .result.col
        h2 Result
        p Query results disply here
        .wrapper
          .code
            pre
              code#result.language-js
    
    script(src="app.js")